.boton_abrir{
    display: inline;
    padding: 7px 0;
    width: 100px;
    border: 1px solid beige;
    border-radius: 50px;
    text-align: center;
}

.modal_contenedor{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 40%;
    height: 50%;
    background-color: coral;
    /* overflow: hidden; */
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
.cerrar{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: sienna;
    cursor: pointer;
    line-height: 25px;
    border-radius: 50%;
}
.modal_cerrar {
    transform: translateY(-200%);
}